

code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace!important;
}

figure.highlight pre,
figure.highlight .gutter,
figure.highlight .code,
figure.highlight .tag {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace!important;
}

.gist .line,
.gist .line-number {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace!important;
}
